<h3>Standard label</h3>

<div class="row">
  <div class="col-12 col-3">
    <div class="form-group">
      <label>One</label>
      <ui-switch [(ngModel)]="one"></ui-switch>
    </div>
  </div>
  <div class="col-12 col-3">
    <div class="form-group">
      <label>Two</label>
      <ui-switch [(ngModel)]="two"></ui-switch>
    </div>
  </div>
  <div class="col-12 col-3">
    <div class="form-group">
      <label>Three</label>
      <ui-switch [(ngModel)]="three"></ui-switch>
    </div>
  </div>
  <div class="col-12 col-3">
    <div class="form-group">
      <label>Four</label>
      <ui-switch [(ngModel)]="four"></ui-switch>
    </div>
  </div>
</div>

<hr/>

<h3>Centered label</h3>

<div class="row">
  <div class="col-12 col-md-3">
    <div class="form-group d-flex flex-lg-column justify-content-between justify-content-lg-center align-items-center">
      <label>One</label>
      <ui-switch [(ngModel)]="one"></ui-switch>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="form-group">
      <div
        class="form-group d-flex flex-lg-column justify-content-between justify-content-lg-center align-items-center">
        <label>Two</label>
        <ui-switch [(ngModel)]="two"></ui-switch>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="form-group">
      <div
        class="form-group d-flex flex-lg-column justify-content-between justify-content-lg-center align-items-center">
        <label>Three</label>
        <ui-switch [(ngModel)]="three"></ui-switch>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="form-group">
      <div
        class="form-group d-flex flex-lg-column justify-content-between justify-content-lg-center align-items-center">
        <label>Four</label>
        <ui-switch [(ngModel)]="four"></ui-switch>
      </div>
    </div>
  </div>
</div>

<!--
<div class="row">
  <div class="col-12 col-3">
    <div class="form-group">

    </div>
  </div>
  <div class="col-12 col-3">
    <div class="form-group">

    </div>
  </div>
  <div class="col-12 col-3">
    <div class="form-group">

    </div>
  </div>
  <div class="col-12 col-3">
    <div class="form-group">

    </div>
  </div>
</div>
-->

